<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225211762251-568cghf7hholrs9i8jmnh3r3v288j5ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225211762251-568cghf7hholrs9i8jmnh3r3v288j5ku</string>
	<key>API_KEY</key>
	<string>AIzaSyCzwN4n8sVpmPNblafX1Yd_A9UTIAmLBF0</string>
	<key>GCM_SENDER_ID</key>
	<string>225211762251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regin.pictury</string>
	<key>PROJECT_ID</key>
	<string>unsplash-fd71a</string>
	<key>STORAGE_BUCKET</key>
	<string>unsplash-fd71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225211762251:ios:9731986ea4b2fcd3752fce</string>
	<key>DATABASE_URL</key>
	<string>https://unsplash-fd71a.firebaseio.com</string>
</dict>
</plist>